/* TakeExamPage.css */

.take-exam-content--wrapper {
  max-width: 900px;
  margin: 50px auto;
  padding: 0 20px;
  overflow: hidden; /* Using hidden overflow instead of auto */
}

.exam-question--header {
  margin: 10px 0;
}

.question--header {
  font-size: 1.5rem;
}

.feedback {
  font-weight: bold;
}

.feedback.correct {
  color: green;
}

.feedback.incorrect {
  color: red;
}

.question--footnote {
  display: flex;
  justify-content: space-between;
  font-size: 1.5rem;
  margin-top: 20px; /* Added margin for better spacing */
}

.question--footnote > button {
  margin-left: 8px; /* Changed margin to only affect the left side for better alignment */
}

/* Responsive Styling */
@media screen and (max-width: 768px) {
  .take-exam-content--wrapper {
    padding: 0 10px;
  }

  .question--footnote {
    flex-direction: column;
    align-items: flex-start;
  }

  .question--footnote > button {
    margin: 8px 0;
  }
}
